{{##def.format:param:{{=(param.n/100).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}

<!DOCTYPE html>
<html>
    {{#def.include('head_old')}}
    <script>
        function goHome() {
            location.assign("/play");
        }
    </script>
<body>


    {{#def.include('header_new')}}
    <div class="page-content">
        {{#def.content || ""}}
    </div>
<div class="wrap" onclick="goHome()" style="z-index: 2000;">
    {{? it.warning }}
        <div class="warning">{{!it.warning}}</div>
    {{?? it.success}}
        <div class="success">{{!it.success}}</div>
    {{??it.user }}

        {{?it.user.error}}

            <div class="warning">
                {{!it.user.error}}
            </div>
        {{??it.user.advice == 'new'}}
        <div class="success">
            Welcome to SonicXRocket.com, to start you can <a href="/request">request 100 free $USD</a> or you can just watch the current games... have fun :D

        </div>
        {{??it.user.advice == 'received'}}
        <div class="success">
            Congratulations you have been credited 100 free $USD. Have fun!
        </div>
        {{?? it.user.advice}}
        <div class="success">
           {{!it.user.advice}}
        </div>
        {{??it.user && it.user.balance_satoshis < 100 }}
            {{?it.user.eligible == true}}
                <div class="success"><a href="/request">Collect your 100 free $USD!</a></div>
            {{?}}
        {{?}}

    {{?}}

    

</div>

</body>
</html>