{{##def.page_title = 'Affiliate System' #}}

{{##def.content:
<div class="row faq panel radius">
    <h3><a class="logo-link" href="/play"><i class="fa fa-times"></i></a></h3>
    <div class="modal-container">
        <div style="width:60%; margin: 0 auto; text-align:center;font-size: 1rem;">
            Affiliate System<br><br>
            Earn $USD by Referring Your Friends
        </div>
        <hr>
        <table>
            <tr>
                <td style="color: gold">
                    0 $USD
                </td>
                <td>
                    YOUR EARNINGS
                </td>
            </tr>
            <tr>
                <td>
                    10%
                </td>
                <td>
                    YOUR COMMISSION OF HOUSE EDGE
                </td>
            </tr>
            <tr>
                <td>
                    0
                </td>
                <td>
                    UNIQUE CLICKS ON THE LINK
                </td>
            </tr>
            <tr>
                <td>
                    0
                </td>
                <td>
                    NON-DEPOSITORS
                </td>
            </tr>
            <tr>
                <td>
                    0
                </td>
                <td>
                    DEPOSITING PLAYERS
                </td>
            </tr>
        </table>
        <p>
            Send us an email to support support@sonicxrocket.com to become an affiliate.
        </p>
        <p>
            You can use an affiliate link on blogs, forums, comments, signatures or any other marketing channel.
        </p>
        <p>
            For every bet placed by a player referred by you, you are rewarded a commission of the house edge, regardless of whether the bet they make is win or loss.
        </p>
        <p>
            We keep a right to change this terms at any time.
        </p>
    </div>
</div>

#}}
{{#def.include('./template/main_old')}}