{{##def.page_title = 'Change Password' #}}

{{##def.content:
<script type="text/javascript">
    function enableSubmit() {
        $('#loginSubmit').removeClass('secondary');
    }

    function show(index) {
        switch (index) {
            case 1:
                document.getElementById('old_password').type = "text";
                break;
            case 2:
                document.getElementById('password').type = "text";
                break;
            default:
                document.getElementById('con_password').type = "text";
                break;
        }
    }
    function hide(index) {
        switch (index) {
            case 1:
                document.getElementById('old_password').type = "password";
                break;
            case 2:
                document.getElementById('password').type = "password";
                break;
            default:
                document.getElementById('con_password').type = "password";
                break;
        }
    }
    function goHome() {
        location.assign("/play");
    }
    function validation() {
        var invalid = document.getElementById('password').value == document.getElementById('con_password').value ? true : false;
        if (invalid == false) {
            alert('Please match new password to confirm password');
            return invalid;
        } else {
            return invalid;
        }
    }
</script>

        <div class="content panel radius">
            <a href="/play">
                <span class="back-arrow">
                    <i class="fa fa-times"></i>
                </span>
            </a>
            <div class="dlg-container">
                <div class="dlg-title">
                    Change password
                </div>
                <form class="login-form" action="/reset-password" method="post" onsubmit="return validation();">
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="password">Old Password</label>
                            <input id="old_password" type="password"  name="old_password" autocomplete="off" pattern=".{7,50}"  required style="font-weight: bold;"/>
                            <button type="button" class="refresh-btn" onmousedown="show(1);" onmouseup="hide(1);"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="password">New Password</label>
                            <input id="password" type="password"  name="password" autocomplete="off" pattern=".{7,50}"  required style="font-weight: bold;"/>
                            <button type="button" class="refresh-btn" onmousedown="show(2);" onmouseup="hide(2);"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="password">Password</label>
                            <input id="con_password" type="password" name="con_password" autocomplete="off" pattern=".{7,50}"  required style="font-weight: bold;"/>
                            <button type="button" class="refresh-btn" onmousedown="show(3);" onmouseup="hide(3);"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <input id="cancel" class="button secondary center cancel-btn" type="button" onclick="goHome()" value="Cancel"/>
                        </div>
                        <div class="large-6 columns">
                            <input id="registerSubmit" class="button secondary center register-btn" type="submit" value="Register"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
#}}
{{#def.include('./template/main_old')}}
