{{##def.page_title = 'Frequently Asked Questions' #}}

{{##def.content:
<div class="row faq panel radius">

    <h3><a class="logo-link" href="/play"><i class="fa fa-home"></i></a> &nbsp;Terms & Conditions &nbsp; <a class="logo-link right" href="/play"><i class="fa fa-times"></i></a></h3>
    <hr>
    <div class="columns small-12">
        <dl>
            <dd>
                <b>Definitions</b>
            </dd>

            <dd>
                <b>1.General</b>
                <p>
                    1.1. The Terms and Conditions( T&C) are an agreement between  and the player for the use of sonicxgame.com by the player.
                </p>
                <p>
                    1.2. The player is owned and operated by SonicX Gamings S&G., under the registration and established laws of Curacao to provide online gaming.
                </p>
                <p>
                    1.3. These T&C are applied when the player click 'I Accept Terms And Conditions' and register. By registering, the player acknowledge to  that the player have read and accepted the T&C and that the player are at least 18 years old. Using any part of the sonicxgame after logging in signifies that the player agree to the T&C.
                </p>
                <p>
                    1.4. the player must read these T&C before registering and clicking on the 'I Accept Terms And Conditions' checkbox. Not agreeing with these T&C at any time prohibits the player`s use of .
                </p>
                <p>
                    1.5. the player understand and agree that  has the right to modify and/or amend their T & C at any time and it is the player`s duty to familiarize the player`sself with the changes.
                </p>
            </dd>
            <dd>
                <b>2. Player Eligibility for using SonicXRocket</b>
                <p>
                    2.1. the player may use  only if all the following conditions are met:
                </p>
                <p>
                    2.1.1. the player are at least 18 years old and have reached the minimum legal age required in the jurisdiction where the player are residing for online gaming
                </p>
                <p>
                    2.1.2. the player are in full capacity and do not have any limitations in entering a legally binding agreement with us
                </p>
                <p>
                    2.1.3. Only the player have access to the player`s account, and neither do the player allow another person to play on the player`s behalf, nor do the player the player`sself play on the behalf of any one else
                </p>
                <p>
                    2.1.4. the player do not have a diagnosis or are classified as a Problem Gambler/ Compulsive gambler.
                </p>
                <p>
                    2.1.5. the player are not a politically exposed person, or related to a politically exposed person
                </p>
                <p>
                    2.1.6. It is legal for the player to place bets, play casino, and play live games with cryptocurrency in accordance with the laws in the player`s jurisdiction of residence.
                </p>
                <p>
                    2.1.7. the player understand there is a risk of losing money that is deposited into the player`s member account and the player accept full responsibility if such loss occurs
                </p>
                <p>
                    2.1.8. the player understand it is the player`s responsibility not to breach any laws by using . Therefore the player are required to inquire regarding local regulations on gambling laws prior to making any bets.
                </p>
                <p>
                    2.1.9. the player certify that any cryptocurrency that the player deposit has been lawfully obtained
                </p>
                <p>
                    2.1.10. the player agree to use only one account and will not register more accounts with us
                </p>
                <p>
                    2.1.11. the player are NOT a resident of a restricted jurisdiction such as : Australia, the United States and its territories, Aruba, Bonaire, Belize, Curaçao, Netherlands, France, Saba, St Martin, or the Dutch West Indies.
                </p>
                <p>
                    2.1.11.1. If the player breach the restricted countries policy set out by clause 3 the casino can not guarantee the successful withdrawal of the player`s deposit or any winnings.
                </p>
                <p>
                    2.1.11.2. By registering the player confirm that the player are not using a third party software to bypass our restrictions for jurisdictions that are banned or for any other reason
                </p>
            </dd>
            <dd>
                <b>3. Restricted Countries and their Territories Policy</b>
                <p>
                    3.1. the player may not use  if the player are a resident of The United States and its territories, Aruba, Bonaire, Belize, Saba, St Martin, Netherlands, France, Dutch West Indies, Curacao or other countries in which laws and regulations forbid online gambling.
                </p>
            </dd>
            <dd>
                <b>4. Registering for a  account</b>
                <p>4.1. In order to place any wagers on , the player must confirm the player`s eligibility and register to open an account</p>
                <p>
                    4.2. By registering the player certify and understand that gambling is addictive and that the player will be using real money in the form of cryptocurrency to play. the player also acknowledge that cryptocurrency has a volatile value meaning its exchange value can change dramatically over time.
                </p>
                <p>
                    4.3. All required information must be entered truthfully during the registration, most importantly a valid and functioning email where the player can be reached; Entering an invalid email address will make it impossible to reset the player`s password or withdraw any funds. This also applies if the player register through Google, Facebook or any other third party login/authentication service. It is the player`s responsibility to make sure that the information used at the time of registration is true, correct and complete.
                </p>
                <p>
                    4.4. During registration, the player will choose the player`s email and password. It is the player`s responsibility to keep the player`s login details secret. It is also advised to create a unique password that the player do not use on other personal accounts.  is not to be held responsible for any misuse of the player`s Account by anyone if the player have disclosed the player`s account information, whether accidental or intentional, whether passive or active, to a third party.
                </p>
                <p>
                    4.5. the player may only register one user per one I.P address
                </p>
                <p>
                    4.5.1. Multiple Player accounts are not allowed, and will lead to the termination of such accounts
                </p>
                <p>
                    4.5.2.  reserves the right to hold any winnings or bonuses obtained while any duplicate accounts exist. It is the player`s responsibility to inform us to contact us immediately in the event the player create a duplicate account. If the player fail to do the player`s account will be blocked and the player may risk having all winnings frozen.
                </p>
            </dd>
            <dd>
                <b>5. Closing the player`s account</b>
                <p>5.1. the player or  may choose to close the player`s account</p>
                <p>
                    5.1.1. the player can close the player`s Account by emailing support@sonicxgame.com If the reason for closure is due to gambling addiction, or the possibility of it, the player must state so in the player`s request for closing the player`s account. Once the player`s account has been closed  will return any account balance minus withdrawal fees, using a method of player`s choice and in a time frame of our discretion.
                </p>
                <p>
                    5.1.2.  reserves the right to close the player`s Account at any given time, without providing reason. By doing so the player`s account balance, minus withdrawal fees will be refunded to the player.
                </p>
            </dd>
            <dd>
                <b>the player`s Account</b>
                <p>
                    6.1. the player are limited to having only one Account. Opening more than one Account at  may result in blocking or suspension of all the player`s User Accounts and any balance credited to the player`s accounts will be frozen.
                </p>
                <p>
                    6.2. If the player find out that the player have more than one Account the player must email and notify us immediately at support@sonicxgame.com. If the player don`t notify us we might block the player Account.
                </p>
                <p>
                    6.3. the player must inform us by email to support@sonicxgame.com as soon as the player see any errors in the player`s Account regarding any bets the player have placed. We may rollback any bets with any such an error.
                </p>
                <p>
                    6.4. the player must enter a valid email address and all mandatory fields during registration. Failure to supply a valid email address will render withdrawals and recovery of the player`s passwords impossible. It`s the player`s responsibility to make sure that the information provided during registration is correct, true and complete.
                </p>
                <p>
                    6.5. We may carry out Know the player`s Customer (KYC) procedures and the player`s Account may be temporarily closed or blocked if  determine that information the player have supplied is misleading or false.
                </p>
                <p>
                    6.6. During registration, the player have to choose an email, username and a password for the player`s Account. The username may not be offensive or disruptive. It`s the player`s responsibility to make sure that the player`s login information is kept secret, securely, and are not disclosed to anyone.  is not responsible or liable for any misuse of the player`s Account due to the player`s disclosure.
                </p>

            </dd>
            <dd>
                <b>7. Accepted Currencies</b>
                <p>
                    7.1.  We are just more than a game platform, we are also the payment gateway & payment apps so the deposit shall be very large option such as
BTC-ETH-LTC-BCH-XRP-TRX-SONICX USD DIGITAL ($USD) & may more top 30 cryptocurrencies the player can choose from. 
                </p>
                <p>
                    7.1.1. Games that use other form of payment will not be playable
                </p>
            </dd>
            <dd>
                <b>8. Taxes and Fees</b>
                <p>8.1. the player acknowledge that winnings are subject to taxes. the player acknowledge the player are fully responsible for paying all fees and taxes applied to the player`s winnings according to the laws of the jurisdiction of the player`s residence.</p>
            </dd>
            <dd>
                <b>9. Promotions and Bonuses</b>
                <p>9.1.  may credit a player`s account with a `bonus`. The most up to date terms on Bonus conditions can be found on the Bonus page.</p>
                <p>9.2. Certain country restrictions may not allow the player to be eligible for a bonus.  may cancel any bonus or promotion if we have reason to believe that the bonus is being abused or has been set up incorrectly. If the bonus has already been credited, we may decline the withdrawal request and deduct the bonus amount from the player`s balance.  determines if a bonus has been set up incorrectly.</p>
                <p>9.3. All  offers are for recreational only players and  may limit the eligibility of customers to participate in any promotions.</p>
                <p>
                    9.4. If any terms of the promotion or bonus offer is breached, or if there are a series of deposits or bets by a player or group of players, enhanced payments, free or risk free bets results in outcome independent profits, whether as a group or individually,  may reclaim the bonus at their discretion, void any bet funded in any part by the bonus or void the bonus or risk free bets.  reserves the right to charge the User Account the value of the bonus, risk free bet or free bet bonus to make up for administrative costs.  may ask any User to provide documentation to be satisfied as to the User's identity before giving out any bonus, free or risk free offer to the User's account balance.
                </p>
                <p>
                    9.5.  may amend, reclaim, refuse or cancel any promotion at any time at its own discretion.
                </p>
                <p>
                    9.6. the player acknowledge that separate and additional T&Cs exist for special offers, promotions and bonuses. These T&Cs are available in the content pages of , or have been emailed to the player. If there is a discrepancy between the  General Terms of Service and provisions of promotions and bonuses, the provisions of the promotions and bonuses will prevail.
                </p>
                <p>
                    9.7. Bonuses can only be used once per person, User Account, household, family, email address, address and IP addresses.  may close the player`s Account and return any deposits to the player if any evidence of abuse or fraud is found.
                </p>
                <p>
                    9.8. Promotions and bonuses may have withdrawal restrictions attached to them and/or additional requirements. Bonus terms will be published with the promotion. Making a withdrawal before any wagering requirements are met, will make the full bonus amount and any winnings from the bonus be deducted from the player`s Account.
                </p>
            </dd>
            <dd>
                <b>10. Deposits Into the player`s Account</b>
                <p>
                    10.1. We are just more than a game platform, we are also the payment gateway & payment apps so the deposit shall be very large option such as
BTC-ETH-LTC-BCH-XRP-TRX-SONICX USD DIGITAL ($USD) & may more top 30 cryptocurrencies the player can choose from.
                </p>
                <p>
                    10.2. The minimum deposit is (0.001BTC), any deposit below that will not be accounted for, and therefore lost.
                </p>
                <p>
                    10.3.  only accepts payments directly from the player`s personal crypto-wallet funds.
                </p>
                <p>
                    10.4. Deposits into the player`s Account are made by transferring Bitcoin from the player`s personal wallet to the player`s Personal Deposit Address.
                </p>
                <p>
                    10.5. Deposited amounts are made available on the player`s Account after one blockchain confirmation of the transaction.
                </p>
                <p>
                    10.6. We may implement procedures to confirm the player`s identity before deposits are credited into the player`s Account.
                </p>
                <p>
                    10.7. If requested to send us documents, it`s the player`s responsibility to send us documents that are genuine. Any faked or misleading documents may result in closure of the player`s Account and return of unused deposited funds.
                </p>
                <p>
                    10.8. Deposited cryptocurrency must originate from the player`s personal wallet.
                </p>
                <p>
                    10.9. In the event funds are deposited from any other wallet  reserves the right to decline such funds and to return it to the original wallet holder without notice to the player.
                </p>
            </dd>
            <dd>
                <b>11. Withdraws from the player`s account</b>
                <p>
                    11.1. the player can only withdraw in the cryptocurrency that the player have deposited, and into the player`s personal wallet that the player have registered with as the player deposited.
                </p>
                <p>
                    11.2. the player can only withdraw once the player have wagered three (3) times the deposited amount.
                </p>
                <p>
                    11.3. We will process all requests within 24 hours.
                </p>
                <p>
                    11.4. Once processed, withdrawals will be provided up to seven days after KYC is verified and the player`s account approved.
                </p>
                <p>
                    11.5. Withdraw limits are renewed every 7 day period, during which the minimum withdrawal of cryptocurrency is equivalent to 20 euros, the maximum is 1000 euros. Each withdrawal is subject to a blockchain fee determined by the provider.
                </p>
                <p>
                    11.6. When withdrawing from the  crash game, we has the right to refuse withdraws when deposit to bet ratio suggest misuse, defined as an odds of less than 1.1.
                </p>
                <p>
                    11.7. If the player`s Account is erroneously credited with winnings, the amount will be subtracted from the player`s Account. If the balance was already withdrawn prior to us noticing the error, or the player, this amount is then considered debt the player owe to us. If the player`s Account is incorrectly credited, the player have to let us know immediately by sending an email to support@sonicxgame.com
                </p>
                <p>
                    11.8.  may carry out arbitrary verification procedures before sending out pay-outs. This verification may include asking for photo copies of a player`s ID, passport, and requiring the customer to sign a message for an address that an early deposit was made from.
                </p>
                <p>
                    11.9. In the event the player change the player`s password, as a security reason we will require 48 hours to pass in order to grant any withdrawals. the player will receive a notice on the player`s email that a withdrawal is to be processed. Failure to report to us that this was not the player`s activity within 48 hours will forfeit any rights to cease the withdrawal.
                </p>
            </dd>
            <dd>
                <b>12. Know the player`s Client (KYC)</b>
                <p>
                    12.1. All transactions are assessed as a means to stop money laundering.
                </p>
                <p>
                    12.2. the player have two weeks to respond to the KYC request for verification or risk forfeiting the player`s funds.
                </p>
                <p>
                    12.2.1. All reasonable efforts will be made to contact the player including using the phone number the player provided and including email address.
                </p>
                <p>
                    12.3. In the event the player have falsified the player`s personal information the withdrawal shall be refused, and the player shall be notified via mail of the termination of the player`s player account.
                </p>
                <p>
                    12.4.  reserves the right to request additional KYC procedures for any withdrawals over €1000 or as regulated by the gaming license.
                </p>
                <p>
                    12.5. If deposited funds are not used for wagering a higher degree of due diligence will be done prior to withdraw of funds
                </p>
                <p>
                    12.6. For accounts where we suspect the player may be attempting to use our sonicxgame as a mixer a wagering requirement of five (5) times the deposit amount shall be imposed on the player
                </p>
                <p>
                    12.7. In the event the player have funds in a frozen account, or one that is considered excluded please contact customer support.
                </p>
                <p>
                    12.8. the player`s account may be subject to closure, or frozen funds If a state authority, a legal entity, or a request by the Prevention of Money laundering act is filed to 
                </p>
                <p>
                    12.9. The company reserves the right to participate in strict KYC measures and checks in order to prevent misuse of the sonicxgame.
                </p>
            </dd>
            <dd>
                <b>13. Fraud and Misuse Prevention Policy</b>
                <p>
                    13.1.  reserves the right to retain deposits if there is reasonable suspicion of manipulation of the system.
                </p>
                <p>
                    13.2. We may require additional verification if we are suspecting that transactions are in any way fraudulent.
                </p>
                <p>
                    13.3. By using , the player warrant that:
                </p>
                <p>
                    13.3.1. the player use  on the player`s own behalf and using the player`s one and only  account
                </p>
                <p>
                    13.3.2. the player use  non-professionally and strictly for entertainment and recreational reasons only;
                </p>
            </dd>
            <dd>
                <b>
                    14. Dormant Account
                </b>
                <p>
                    14.1. An account in which a player has not wagered or had a transaction processed for three (3) consecutive months is classified as inactive.
                </p>
                <p>
                    14.2. An inactive account is subject to an admin fee of 15% of the account balance every month. This is deductible to the player`s account as long the balance is positive or in the event the account is reactivated.
                </p>
            </dd>
            <dd>
                <b>15. Account Expiry, after Dormancy</b>
                <p>
                    15.1. Once the player enter dormancy, if the player`s account persist please in such a state where there has been no wager or transaction for over twelve (12) consecutive months after the day its declared dormant it will be considered expired. Once the player`s account is expired we will then contact the player regarding the player`s balance on the player`s account and inform the player to withdraw. If the player do not do so within the time allotted in the email  will retain the balance as a fee.
                </p>
            </dd>
            <dd>
                <b>
                    16. Deposit limit and Self exclusion
                </b>
                <p>
                    16.1. It is technically impossible to stop deposits to specific crypto-currency addresses, and it is therefore impossible for us to limit user deposits
                </p>
                <p>
                    16.2. If the player wish to ban the player`s account or IP number from , please contact us at support@sonicxgame.com
                </p>
            </dd>
            <dd>
                <b>
                    17. Responsible Gambling
                </b>
                <p>
                    17.1.  is intended for entertainment purposes only. Please note that gaming is not a source of income.
                </p>
                <p>
                    17.2. If the player notice that the player are spending more than the player can afford, or that gaming interferes with the player`s life, the player should contact us for self exclusion and seek additional support from external organizations
                </p>
                <p>
                    17.2.1. Contact support@sonicxgame.com to inform us of the player`s decision to self exclude so that we may block the player`s access and ensure the player do not receive any promotional material from us
                </p>
                <p>
                    17.2.2. For external assistance please reach out to: Gambling Anonymous, GamCare, and/or Gambling Therapy
                </p>
            </dd>
            <dd>
                <b>18. Limitation of Liability</b>
                <p>
                    18.1. The game and sonicxgame are provided without warranty. the player use the sonicxgame.com and play the game at the player`s own risk. We, our employees, directors and partners:
                </p>
                <p>
                    18.1.1. Shall not be liable for any expenses, loss, costs or damages arising from using the  sonicxgame.
                </p>
                <p>
                    18.1.2. Do not warrant that the sonicxgame and software will be accessible without interruptions
                </p>
                <p>
                    18.1.3. Do not warrant that the sonicxgame and software are error free;
                </p>
                <p>
                    18.1.4. Do not warrant that the  sonicxgame and software are fit for their purpose;
                </p>
                <p>
                    18.2. the player confirm that if there is an error in the Game, any bets made when the game is malfunctioning shall be void. Balance or winnings obtained from a malfunction of the service, and any subsequent bets with said funds shall be voided.
                </p>
                <p>
                    18.3. the player agree to hold harmless our employees, directors, service providers and partners for any expenses, costs, losses, claims, damages and liabilities that may arise from using the sonicxgame.
                </p>
                <p>
                    18.4.  maximum liability regarding the player`s use of the sonicxgame will not be greater than the equivalent of €100.
                </p>

            </dd>
            <dd>
                <b>19. Complaints</b>
                <p>
                    19.1. If the player have any complaints the player please contact our support via email to support@sonicxgame.com or on the player`s dashboard just create/open a ticket & we will response within 48 hours. 
                </p>
                <p>
                    19.2. If the outcome of a wager is disputed, the player agree that the server logs are the final authority when determining the validity of any claim.
                </p>
                <p>
                    19.3. If there`s a disagreement between the result seen on the player`s screen and the game server logs, results on the game server will prevail. the player agree that server records are the final authority determining any wager`s outcome.
                </p>
                <p>
                    19.4. When we wish to contact the player regarding such a dispute, we will do so by using the player`s email supplied.
                </p>
                <p>
                    19.5. The presiding law in the event of a court dispute shall be Curacao
                </p>
            </dd>
            <dd>
                <b>
                    20. General Wagering Rules
                </b>
                <p>
                    20.1.1. Bets may only be placed over the internet.
                </p>
                <p>
                    20.1.2. Bets may be placed only by a properly registered and logged in account holder.
                </p>
                <p>
                    20.1.3. Bets may only be placed if the player have enough balance in the player`s Account.
                </p>
                <p>
                    20.1.4. Any bets will be subjugated by the T&Cs that were available when the bet was accepted.
                </p>
                <p>
                    20.1.5.  may adjust any bet pathe playert to a  account if it is later determined by  that the pathe playert has derived from an error.
                </p>
                <p>
                    20.1.6. A bet that has been accepted and placed cannot be withdrawn, amended or canceled by the player.
                </p>
                <p>
                    20.1.7. The list of the player`s bets, their details, and status are available for the player to view on the  sonicxgame.
                </p>
                <p>
                    20.1.8. When placing a bet, the player confirm that the player have understood and read in full all of these T&Cs.
                </p>
                <p>
                    20.1.9.  manages the player`s User Account, calculates the available balance, the amount of winnings and the betting on the house balance. Unless later proven erroneous, these amounts are considered accurate and final.
                </p>
                <p>
                    20.1.10. the player are solely responsible for the bets placed by the player`s account.
                </p>
                <p>
                    20.1.11. When a game round`s final result is confirmed, winnings are added to the player`s Account balance.
                </p>
            </dd>
            <dd>
                <b>21. Cancelled and erroneous game rounds</b>
                <p>
                    21.1.  is not to be held liable for any lag, server disruptions, downtime or any technical disruption to the game. Refunds may be given out only if the  management chooses to do so.
                </p>
                <p>
                    21.2.  shall not be liable for damages or losses that are deemed to or are alleged to have happened in connection with ; including without limitation, interruptions or delays in transmission or operation, corruption or loss of data, any misuse of , communication failure or any errors in the sonicxgame content.
                </p>

                <p>
                    21.3. If there is a system malfunction, all bets and bonuses are void.
                </p>
            </dd>
            <dd>
                <b>22. Betting</b>
                <p>
                    22.1. sonicxgame.com reserves the right to void in full or partially any wager, would we deem that any of the circumstances listed below have occurred:
                </p>
                <p>
                    22.1.1. the player and or any person associated with the player are directly or indirectly avoiding the rules of sonicxgame.com,
                </p>
                <p>
                    22.1.2. the player, or any person or persons associated with the player may directly or indirectly influence the outcome of an event, to obtain an unlawful advantage,
                </p>
                <p>
                    22.1.3. Bets have been placed that should not have been processed if  was not having technical problems,
                </p>
                <p>
                    22.1.4. Due to any kind of error, such as a mistake, typo, misprint, technical error or any other reason, wagers have been erroneously accepted and/or placed due to this or any other error.
                </p>
                <p>
                    22.2. If a bet is completed or a payment is made by  in error,  reserves the right to retroactively cancel or correct bets containing the error by re-settling all the bets at the correct spreads/terms/prices time of the bet.
                </p>
                <p>
                    22.3. If the player become aware of errors in , the player agree to not take advantage of them. the player also agree to report any errors immediately to the  support. We usually reward such reports with a bounty. If the player fail to report such errors,  has the right to compensation of any costs related to any error(s).
                </p>
                <p>
                    22.4. If a game round is started but is later miscarried,  will refund the bet amount to the User Account.
                </p>
                <p>
                    22.5. sonicxgame.com may limit or reject wagers. the player are not allowed to bet an amount greater than the player`s Account balance. Wins are credited to the user`s personal Account.
                </p>
            </dd>
            <dd>
                <b>23. Game Availability</b>
                <p>
                    23.1. In addition to restricted territories, certain Jurisdictions are banned by certain game providers, as per their policy. Accessibility to some games is subject to change at the game providers discretion without notice.
                </p>
                <p>
                    23.1.1. For more details regarding restrictions set out by game providers please read more regarding each individual game providers Privacy Policy
                </p>
            </dd>
            <dd>
                <b>
                    24. Live Chat & Video Conferencing serivce
                </b>
                <p>
                    24.1. the player`s use of the chat facility should be only for recreational and socializing  purposes. We may provide live chat that is moderated. We may review, moderate and keep a record of all messages made in the chat.
                </p>
                <p>
                    24.2. The Live Chat is only for communication between the player as a player and us and may not be redistributed or copied in any way.
                </p>
                <p>
                    24.3. Rude and/or obscene chat messages in `s chat system or in the player`s Account name are not allowed.
                </p>
                <p>
                    24.4. We may remove the chat functionality and/or terminate the player`s Account if the player:
                </p>
                <p>
                    24.4.1. use the chat to engage in unlawful conduct or if the player encourage conduct we deem seriously inappropriate.
                </p>
                <p>
                    24.4.2. make any statements or comments that are grossly offensive or sexually explicit, including racism, bigotry, profanity or hatred;
                </p>
                <p>
                    24.4.3. make statements or messages that are defamatory, insulting or abusive;
                </p>
                <p>
                    24.4.4. use the chat to promote, advertise or otherwise mention other competing online entities;
                </p>
                <p>
                    24.4.5. make statements about  that are malicious and/or untrue and/or damaging to ;
                </p>
                <p>
                    24.4.6. the user of our sonicxmeet is 100% secure & private. we may have to require register for private account use on app & Web
                </p>
            </dd>
            <dd>
                <b>25. Termination, Penalties and Breaches</b>
                <p>
                    25.1. the player acknowledge that  shall be the decision-maker ultimately deciding if the player have violated ’s rules or T&C in a way that results in closing the player`s account or barring the player from .
                </p>
                <p>
                    25.2. If the player breach any of the T&C or if  has reasonable belief to suspect that the player have, sonicxgame.com reserves the right to all of the following:
                </p>
                <p>
                    25.3. close or suspend the player`s Account
                </p>
                <p>
                    25.4. return any unused deposits and withhold any winnings and retain any bonus or promotion balance in the player`s Account as a fee.
                </p>
            </dd>
            <dd>
                <b>
                    26. Intellectual Property Rights
                </b>
                <p>
                    26.1. The sonicxgame design, graphics, text, sound, music, video, other material and source code on sonicxgame.com are subject proprietary rights and copyright which are owned by us.
                </p>
            </dd>
            <dd>
                <b>27. Applicable Jurisdictional Law</b>
                <p>
                    27.1. Before using , the player must read the T&Cs carefully. Using any part of the  sonicxgame confirms that the player consent with these T&C.
                </p>
                <p>
                    27.2. the player`s relationship with  is contractual and subject exclusively to the jurisdiction courts of Curaçao in the event of any disputes or claims arising from these terms and conditions.
                </p>
            </dd>
            <dd>
                <b>
                    28. Privacy Policy
                </b>
                <p>
                    28.1. The  Privacy Policy is available at https://sonicxrocket.com/privacy-policy/
                </p>
            </dd>
        </dl>
    </div>
    <a class="border-button red right" href="#">Up</a>
</div>
#}}
{{#def.include('./template/main_old')}}
