{{##def.page_title = 'Weak Password' #}}

{{##def.content:
<div class="row faq panel radius">
  <h3><a class="logo-link" href="/play"><i class="fa fa-home"></i></a> &nbsp;Weak Password &nbsp; <a class="logo-link right" href="/play"><i class="fa fa-times"></i></a></h3>
  <hr>
  <p>
      Your password is quite insecure and very well could lead you to getting hacked.
    Please <a href="/security">change it</a> to something stronger (and unique!)
  </p>
</div>

#}}
{{#def.include('./template/main_old')}}
